:root {
    --light: #BEE5D3;
    --dark:#abb0f0;
    --navlink-color: #48b8f5;
  } 
body {
    line-height: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-color:#FFF9AF;
    background-image: linear-gradient(#faf9f2,#fff9AF);
}
/*try flexbox since I did grid last time?*/

.h1{
    color:rgb(37, 192, 192);
    align-self: center; /*WHY IS IT NOT CENTER?!??!?!?!*/
    text-shadow: 1px 1px 2px white, 0 0 25px #d0d2f0, 0 0 5px #10f0f8;
}
 /*size of main box, background, font, color, text UGHHHHH MAKE IT CENTERED*/
.mainbox {
align-self: center;
width: 650px;
height: 300px;
background-color: lightblue;
border-color:azure;
border-width: 10px;
border-style: inset;  
font-size:30px;
justify-content: space-between;
align-content: center;
}

.h2{
    font-size: 25px;
    text-shadow: 2px 2px 2px white;
    }

/*questions text font size color*/
.quizarea{
    display: none;
}

.questiontext{

}

/*if I want css buttons here*/

/*answers button color, text, font, size, color*/
.forAnswers{
    display:none;
    font-size:20px;
}

/*resultsbox container/*text font size color*/
.resultsbox {
    justify-content: space-evenly;
    row-gap:  10px;
    width: 650px;
    height: 300px;
    background-color: lightblue;
    border-color:azure;
    border-width: 10px;
    border-style: inset;   
}

    .h3{
        font-size:25px;
    text-shadow: 4px 4px 4px white;
    }

    /*results/*text font size color input box prompt for initials*/
    .input {
font-size: 25px;

}
    /*savebutton/*text font size color, button color*/
    .savebutton {
        font-size:15px;
        background-color: #d0d2f0;
        
    }